<h1>My Sweet Gif Blog</h1>
<ul class="gif-list">
	<% @posts.each do | post | %>
		<li class="index-gif-item">
			<strong><%= post.title %></strong><br>
			<img class="index-gif" src="<%= post.gif_url %>">
		</li>
	<% end %>
</ul>

