// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gif-list {
	list-style: none;
}

.index-gif {
	height: 250px;
	width: 250px;
}

.index-gif-item {
	text-align: center;
	margin-left: 5px;
	float: left;
}

.show-gif-item {
	margin: 0 auto;
	text-align: center;
	height: 350px;
	width: 350px;
}

.show-gif {
	height: 300px;
	width: 350px;
}

.vote-up {
	float: left;
}

.vote-down {
	float: right;
}